<div [@routeAnimation] class="card card--panel perm-wrapper">
    <header class="perm-head perm-head--left" role="region" aria-label="Sección: Permisos">
        <div class="perm-head__icon" aria-hidden="true">
            <mat-icon>view_module</mat-icon>
        </div>
        <div class="perm-head__text">
            <span class="eyebrow">Sección</span>
            <h2>{{ title }}</h2>
        </div>
        <nav class="perm-head__crumbs" aria-label="Ruta">
            <span class="crumb">Administración</span>
            <span class="sep">/</span>
            <span class="crumb active">Instalaciones</span>
        </nav>
    </header>

    <div class="surface">
        <section class="perm-form-nc container-id py-4">
            <form [formGroup]="insEquipoForm" class="perm-form-body">
                <div class="row g-4">
                    <div class="col-12 col-md-4">
                        <label for="idEquipo" class="form-label perm-label">Equipo</label>
                        <div class="input-group input-group-lg perm-ig">
                            <span class="input-group-text fw-bold">
                                <mat-icon aria-hidden="true">devices_other</mat-icon>
                            </span>
                            <div class="form-floating flex-grow-1 perm-select-floating">
                                <select class="form-select" id="idEquipo" formControlName="idEquipo">
                                    <option [ngValue]="null" disabled>Selecciona un equipo
                                    </option>
                                    <option *ngFor="let d of listaEquipos" [ngValue]="d.id">
                                        {{ d.numeroSerie }}
                                    </option>
                                </select>
                                <label for="idEquipo">Selecciona un equipo</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="idCliente" class="form-label perm-label">Arrendador</label>
                        <div class="input-group input-group-lg perm-ig">
                            <span class="input-group-text fw-bold">
                                <mat-icon aria-hidden="true">person</mat-icon>
                            </span>
                            <div class="form-floating flex-grow-1 perm-select-floating">
                                <select class="form-select" id="idCliente" formControlName="idCliente">
                                    <option [ngValue]="null" disabled>Selecciona un arrendador
                                    </option>
                                    <option *ngFor="let cliente of listaClientes" [ngValue]="cliente.id">
                                        {{ cliente.nombre }}
                                        {{ cliente.apellidoPaterno }}
                                        {{ cliente.apellidoMaterno }}
                                    </option>
                                </select>
                                <label for="idCliente">Selecciona cuenta padre</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <label for="idSedeCentral" class="form-label perm-label">Instalación Central</label>
                        <div class="input-group input-group-lg perm-ig">
                            <span class="input-group-text fw-bold">
                                <mat-icon aria-hidden="true">location_city</mat-icon>
                            </span>
                            <div class="form-floating flex-grow-1 perm-select-floating">
                                <select class="form-select" id="idSedeCentral" formControlName="idSedeCentral"
                                    (change)="onSedeCentralChange()">
                                    <option [ngValue]="null" disabled>Selecciona una instalación principal
                                    </option>
                                    <option *ngFor="let r of listaSedeCentrales" [ngValue]="r.id">
                                        {{ r.nombre }}
                                    </option>
                                </select>
                                <label for="idSedeCentral">Selecciona una instalación central</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="nroPiso" class="form-label perm-label">Piso</label>
                        <div class="input-group input-group-lg perm-ig">
                            <span class="input-group-text fw-bold">
                                <mat-icon aria-hidden="true">layers</mat-icon>
                            </span>
                            <div class="form-floating flex-grow-1 perm-select-floating">
                                <select class="form-select" id="nroPiso" formControlName="nroPiso" [disabled]="!insEquipoForm.get('idSedeCentral')?.value">
                                    <option [ngValue]="null" disabled>Selecciona un piso</option>
                                    <option *ngFor="let piso of listaPisos" [ngValue]="piso.id">
                                        {{ piso.nombre || piso.numero || `Piso ${piso.id}` }}
                                    </option>
                                </select>
                                <label for="nroPiso">Selecciona un piso</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label for="idDepartamento" class="form-label perm-label">Departamento</label>
                        <div class="input-group input-group-lg perm-ig">
                            <span class="input-group-text fw-bold">
                                <mat-icon aria-hidden="true">business</mat-icon>
                            </span>
                            <div class="form-floating flex-grow-1 perm-select-floating">
                                <select class="form-select" id="idDepartamento" formControlName="idDepartamento">
                                    <option [ngValue]="null">Selecciona un departamento</option>
                                    <option *ngFor="let depto of listaDepartamentos" [ngValue]="depto.id">
                                        {{ depto.nombre }}
                                    </option>
                                </select>
                                <label for="idDepartamento">Selecciona un departamento</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div id="map"></div>
                    </div>

                </div>

                <div class="d-flex flex-wrap gap-3 justify-content-start mt-4">
                    <button class="button-success" role="button" (click)="submit()">
                        <i class="fa fa-check"></i>&nbsp;&nbsp;{{ submitButton }}
                    </button>
                    <button type="button" class="button-danger" (click)="regresar()">
                        <i class="fa fa-times">&nbsp;&nbsp;</i>Cancelar
                    </button>
                </div>
            </form>
        </section>
    </div>
</div>